:root {
    --black: #0A090B;
    --jasmine: #F2D686;
    --darkred: #4d1801;
    --red: #9A3002;
    --gold: #967203;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    font-family: sans-serif;
    background-color: rgb(28, 27, 27);

}

footer {
    /*ADDED margin top*/
    margin-top: 5%;
    height: 80px;
    background-color:var(--black);
    padding-left: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #fffcee;

}

.footer {
    font-size: 30px;
}

/*global classes*/
.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.row,
.column {
    display: flex;
}

.column {
    flex-direction: column;
}

/* custom styling */

.hero-container {
     /* UPDATED TO MIN HEIGHT */
    min-height: 100vh;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    background:url(../images/spaghetti-g19333eb92_1920.jpg) no-repeat fixed center;
    background-size: cover;
    /* ADDED */
    margin-bottom: 5%;
    padding: 2.5%;
    
}
header {
margin-bottom: 30px;
}

header h1 {
    color: #fffcee;
    padding: 5px;
    font-size: 100px;
    font-family: 'Rowdies';

}

header h3 {
    color: #296543;
    font-size: 35px;
    font-family: 'Signika Negative';
    text-shadow: 1px 1px 2px #fffcee;

}

.main-header {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.visible-alert {
    display:block;
    background-color:rgba(185, 56, 0, 0.6);
    backdrop-filter: 10px;
    padding: 2.5% 5%;
    font-size: 1.5rem;
    color: #FFFCEE;
}
.hidden-alert {
    display: none;
}
.main-header .search {
    width: 750px;
    border-radius: 24px;
    height: 55px;
    padding: 25px;
    border: 1px solid #dfe1e5;
}

.main-header .search::placeholder{
    text-align: center;
}

.main-header .search:focus{
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.btn-search, .btn-store {
    position: relative;
    margin-top: 20px;
    width: 175px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #dfe1e5;
    cursor: pointer;
}

.del-his-btn {
    position: absolute;
    top: 3px;
    right: 4px;
    font-size: 1rem;
    background-color: var(--red);
    color: #fff;
    padding: 0 4px;
    border-radius: 2px;

}

.card-container {
    /* REMVOVED */
   /* margin: 10%, 0;*/
    display: grid;
    /* CHANGED */
    grid-template-columns: repeat(3, 300px [col-start]);
    justify-content: center;
    gap: 25px;
}

.card {
    box-shadow: 0px 2px 6px darkgrey;
    transition: 1s;
    margin: 0% 5% 5% 5%;
    background: rgb(62, 60, 60);
    color: #fffcee;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;

}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-primary {
    background-color: var(--gold);
    border: none;
}

.btn-primary:hover {
    background-color: #6e5302;

}

/* ADDED */

.modal-content {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
}

/* --------------*/

.modal-body {
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(3, 300px [col-start]);
    justify-content: center;
    gap: 20px;

    /*ADDED*/

    justify-items: center;

}

/* ADDED */

.modal-dialog {
    max-width: 1000px;
}

.modal-content {
    background-color: rgba (255, 255, 255, 0.8);
}
.card-image {
    object-fit: cover;
    height: 150px;
}

.card-text {
    font-size: 0.9rem;
}

/*responsive styling*/

    /*CHANGED */

@media only screen and (max-width: 1010px) {

    .card-container {
        /*ADD MARGIN INTO MAIN CODE */
       /* margin: 5% 0;*/
        display: grid;
        grid-template-columns: repeat(2, 300px [col-start]);
        justify-content: center;
    }
    .card:hover {
        transform: none;
    }
    
    .main-header .search {
        width: 120%;
    }
    
    .main-header .search::placeholder {
    font-size: small;
    }

    /*
    .hero-container {
    height: 100vh;
    } */

    /* ADDED */
    .modal-dialog {
        max-width: 650px;
    }

    .modal-body {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    /*margin: 5% 0;*/
}

}

/* updated max-width */

@media only screen and (max-width: 700px) {

    header h1 {
        font-size: 9vh;
    }
    .container {
        display: flex;
        gap: 10px;

    }
    .search-history {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-container {
        display:flex ;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .card:hover {
        transform: none;
    }
    
    .main-header .search {
        width: 120%;
    }
    
    .main-header .search::placeholder{
    font-size: small;
}
    /* DELETE 
    .hero-container {
        height: 100vh;
    } */

    /* ADDED */
    .modal-dialog {
        max-width: 400px;
    }
    

    .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
       /* margin: 5% 5%;*/

    }

}
